<!--The content below is only a placeholder and can be replaced.-->
 <!-- Header -->
 <header id="page-top" class="header">
  <div class="container">
      <div class="text-center">
          <div class="intro-lead-in"><h3>Welcome to</h3></div>
          <div class="intro-heading"><h1>babyphone.cool</h1></div>
          <!--  <a href="#visitors" class="page-scroll btn btn-xl">look at the visitors</a>
              -->
      </div>
  </div>
</header>

<section id="visitors">
  <div class="container">
      <div class="text-center">
          <a href="https://play.google.com/store/apps/details?id=com.bleissem.babyphone&hl=de">
             babyphone bei google play
          </a>
      </div>
  </div>
</section>

<footer id="impressum">
  <div class="container">
      <div class="text-center">
          <h4 class="section-heading">Impressum</h4>
          <h3 class="section-subheading text-muted text-center">
              Alexander Bleissem<br>
              L&uuml;tzelsteiner Str. 3b<br>
              80939 M&uuml;nchen<br>
              Germany <br>
              email: <a href="mailto:alexander@bleissem.com">alexander@bleissem.com</a><br>
          </h3>
      </div>
  </div>
</footer>

<!-- jQuery -->
<script src="Scripts/jquery-1.9.1.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="Scripts/bootstrap.min.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-690472-10', 'auto');
ga('send', 'pageview');

</script>